.Cart_ContainerStyle{
    padding:40px;
    background-color: white;
    border-radius: 20px;
    width:100%;
}
.Cart_ContainerInsideStyle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.Cart_ButtonStyle{
    width: 100%;
}
input.form-control {
    margin-bottom: 10px;
}
/* Стилистика хлебных крошек */
ol.breadcrumb {
    background-color: #e9eff5;
}
.Cart_SideBarColumnStyle{

}
.col.Cart_SideBarColumnStyle{
    justify-content: start;
}
button.Cart_Element_ButtonStyle.btn.btn-primary{
    background-color: white;
    border: 0;
    color: black;
    border-radius: 20px;
}