.Catalog_Page_Global{
    display:flex;
    justify-content: flex-end;
    padding:40px;
}
.Catalog_Page_H1{
    margin-bottom: 0;
    padding: 0 12px;
}
.Catalog_Page_TitleRow{
   padding: 0 12px;
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
}

.Catalog_Page_TitleRowDiv{
    display: flex;
    align-items: center;
}

.Catalog_Page_SVG_SpisokStyle{
  content:" ";
  mask-image:url("./listImage.svg");
  background-color: gray;
  opacity: 0.7;
  width:20px;
  height:20px;  
}

.Catalog_Page_SortButtonStyle button.dropdown-toggle.btn.btn-primary{
    background-color: rgba(255,255,255,0);
    border:0;
}
/* стилизация кнопки сортировки при взаимодействии с ней */
.Catalog_Page_SortButtonStyle button.dropdown-toggle.btn.btn-primary:focus,.Catalog_Page_SortButtonStyle button.dropdown-toggle.btn.btn-primary:hover,.Catalog_Page_SortButtonStyle button.dropdown-toggle.btn.btn-primary:target{
    color:black;
    border:0;
}

.Catalog_Page_NoneDisplay{
    display:none;
}

.Catalog_Page_AccordionStyle{
    position:sticky;
    top:20px;
}
/* стилизация сайдбара */
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0); 
     border-bottom: 0;
}
.Catalog_Page_InputStyle{
   
}
input.Catalog_Page_InputStyle.form-control{
    background-color:#eaeff5;
    border:0;
    border-radius: 20px;
    width: 5.7rem;
    font-size: 12px;
}
.Catalog_Page_SidebarInputRowStyle{
    justify-content:space-between;
    padding: 0 12px;
    margin-top:10px;
}
.Catalog_Page_SidebarSpanStyle{
    font-size:27px;
}
.Catalog_Page_SideBarBottomButton{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.Catalog_Page_Content{}
.col.Catalog_Page_Content:last-child {
 align-items: center;
}
.page-item:first-child .page-link {
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    margin: 0 20px;
    border: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    margin: 0 20px;
    border: 0;
}
a.page-link{
    border-radius: 20px;
    margin: 0 2px;
}
.page-item.active .page-link {
    background-color: #83bde6;
    border-radius: 20px;
    margin: 0 2px;
    border:0;
}