.OrderRegistration_ContainerStyle{
    padding:40px;
    background-color: white;
    border-radius: 20px;
    width:100%;
}
.OrderRegistration_InputStyle{
    border: 0;
    border-bottom: 2px solid #83bde6;
    border-radius: 0;
}
.OrderRegistration_ButtonRow{
    display:flex;
    align-items: center;
}
label.form-check-label {
    margin-bottom: 30px;
}
input.form-check-input.is-valid{
    margin-left: 0;
}
.OrderRegistration_CheckBoxStyle{
    color:black;
}
.OrderRegistration_pStyle{
    margin-top: 20px;
    color:gray;
}

form {
    width: 100%;
}
.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #83bde6;
}
.OrderRegistration_ButtonStyle{
   
}
button.OrderRegistration_ButtonStyle.btn.btn-primary{
    background-color: #e9eff5;
    margin: 10px;
    border-radius: 0px;
    color: black;
    border: none;
}
.OrderRegistration_SideBarStyle{}
.col.OrderRegistration_SideBarStyle{
    justify-content: flex-start;
}