.OrderPage_OrderBlockStyle{
    display: flex;
    flex-direction: row;
}

.OrderPage_Global{
    background-color: white;
    border-radius: 20px;
    padding:3%;
}
/* .OrderPage_OrderBlockStyle .row{
     flex-direction: column;
} */
.OrderPage_ImageStyle{
    width: 700px;
}

.OrderPage_Global.container{
    padding: 3%;
}
.OrderPage_TitleH1Style{
    padding-left: 12px;
}
.OrderPage_InsideRow{
    display: flex;
    align-items: baseline;
    margin: 20px 0;
}
.OrderPage_StarStyle{
  content:" ";
  mask-image:url('./star.svg');
  background-color: gray;
  opacity: 0.7;
  width:25px;
  height: 25px;  

}
.OrderPage_H1Style{
    margin:0;
    font-size: 58px;
}
.OrderPage_IdSpanStyle{
    color: gray;
    margin-bottom: 30px;
}

.OrderPage_ClickerBlockStyle{
    background-color:#e9eff5;
    border-radius: 10px;
    display: flex; 
}
.OrderPage_StarStyle:hover{
    background-color: #83bde6;
}
.OrderPage_OrderBlockStyle .col{
    align-items: flex-start;
}
.OrderPage_SpanStyle{
    font-size:30px;
    margin-left:7px;
    color:white;
}
.OrderPage_ButtonDivStyle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 25px;
}
.OrderPage_ButtonStyle{
    background-color: #83bde6;
}
.OrderPage_ComparenSaveButtonStyle{
    background-color: #e9eff5;
    margin-top:20px;
}
nav.nav.nav-tabs {
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.OrderPage_ClickerBlockSpanStyle{
  font-size:30px;
}
.OrderPage_ClickerBlockSpanStyle2{
color: #b5d7f0;
margin-left:20px       
}
button.OrderPage_ClickerBlockButtonStyle.btn.btn-primary{
    background-color: #e9eff5;
    border: 0;
    font-size: 25px;
}
.OrderPage_ComparenSaveSpanStyle{
    color:black;
    margin-left:7px;
    font-weight: 600px;
    font-size:25px;
}