.Page404_FirstColumn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.Page404_SecondColumn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
}
.Page404_H1Style{
   margin:26px 0;
   font-size: 45px;
}
.Page404_BtnStyle{
    background-color: #83bde5;
    color: white;
}
.Page404_GlobalStyle{
    background-color: white;
    width:fit-content;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
}