.ProductPage_OrderBlockStyle{
    display: flex;
    flex-direction: row;
}

.ProductPage_Global{
    background-color: white;
    border-radius: 20px;
    padding:3%;
}
/* .ProductPage_OrderBlockStyle .row{
     flex-direction: column;
} */
.ProductPage_ImageStyle{
    /* width: -webkit-fill-available; */
    width: 100%;
}


.ProductPage_Global.container{
    padding: 3%;
}
.ProductPage_TitleH1Style{
    padding-left: 12px;
    margin-bottom: 15px;
}
.ProductPage_InsideRow{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.ProductPage_StarStyle{
  content:" ";
  mask-image:url('./star.svg');
  background-color: gray;
  opacity: 0.7;
  width:25px;
  height: 25px;  

}
.ProductPage_H1Style{
    margin:0;
    font-size: 58px;
    font-weight: bolder;
}
.ProductPage_IdSpanStyle{
    color: gray;
    margin-bottom: 30px;
}

.ProductPage_ClickerBlockStyle{
    background-color:#e9eff5;
    border-radius: 20px;
    display: flex; 
}
.ProductPage_StarStyle:hover{
    background-color: #83bde6;
}
.ProductPage_OrderBlockStyle .col{
    align-items: flex-start;
    justify-content: end;
}
.ProductPage_SpanStyle{
    font-size:30px;
    margin-left:7px;
    color:white;
}
.ProductPage_ButtonDivBasketStyle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 5px 50px;
}
.ProductPage_ButtonDivComareNSaveStyle{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 25px;
}

.ProductPage_ButtonStyle{
    background-color: #83bde6;
}
.ProductPage_ComparenSaveButtonStyle{
    background-color: #e9eff5;
    margin-top:20px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}
.ProductPage_ComparenSaveButtonStyle:hover{
    background: #83bde6;
    color: white;
    text-decoration: none;
}
.ProductPage_ComparenSaveButtonStyle:focus{
    text-decoration: none;
    background-color: #83bde6;
    color: white;
}
.ProductPage_ComparenSaveButtonStyle img{
    margin-right: 10px;
}
nav.nav.nav-tabs {
    width: 100%;
    justify-content: space-around;
    margin: 40px 0;
}

.ProductPage_ClickerBlockSpanStyle{
  font-size:30px;
  border-color: black;
}
.ProductPage_ClickerBlockButtonStyle:first-child{
    border-color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
    margin-right: 8px;
}
.ProductPage_ClickerBlockButtonStyle:last-child{
    border-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
    margin-left: 8px;
}
.ProductPage_ClickerBlockSpanStyle:focus{
    font-size:30px;
    border-style:none;
  }
.ProductPage_ClickerBlockSpanStyle2{
color: #005ca0;
margin-left:20px       
}
button.ProductPage_ClickerBlockButtonStyle{
    background-color: #e9eff5;
    border: 0;
    font-size: 25px;
    color:black;
    border-color: black;
}
button.ProductPage_ClickerBlockButtonStyle:hover{
    background-color: #83bde6;
    font-size: 25px;
    color:white;
    border-color: black;
}
button.ProductPage_ClickerBlockButtonStyle:focus{
    background-color: #83bde6;
    font-size: 25px;
    color:white;
    border-color: black;
}
/* button.ProductPage_ComparenSaveButtonStyle.btn.btn-primary{
    background-color:#e9eff5;
} */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-bottom:4px solid #83bde6;
}

.nav-tabs .nav-link {
    border:0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-tabs a{
    color:gray;
}
.ProductPage_ButtonSendReviewStyle{
}
button.ProductPage_ButtonSendReviewStyle.btn.btn-primary{
    margin-left:10px;
    background-color:white;
    color:gray;
}
button.ProductPage_ButtonStyle.btn.active.btn-primary{
    background-color: #83bde6;
}


/* Стилизация звездочек */
.rating-area {
	overflow: hidden;
	width: 265px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 29px;
	padding: 0;
	cursor: pointer;
	font-size: 35px;
	line-height: 32px;
	color: lightgrey;
	/* text-shadow: 1px 1px #bbb; */
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #83bde6;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #83bde6;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #83bde6;
}
.rate-area > label:active {
	position: relative;
}