.SuccessfulRegistration_FirstColumn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SuccessfulRegistration_SecondColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.SuccessfulRegistration_SpanStyle {
    font-size: 45px;
    color: white;
}

.SuccessfulRegistration_BtnStyle {
    background-color: white;
    color: black;
}

.SuccessfulRegistration_PStyle {
    font-weight: 500;
    font-size: 20px;
    margin:20px 0
}

.SuccessfulRegistration_GlobalStyle {
    background-color: #83bde5;
    width: fit-content;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
}