@font-face {
  font-family: Montserrat;
  src: url(/Resources/Fonts/montserrat-regular.ttf);
}
@font-face {
  font-family: MyriadPro;
  src: url(/Resources/Fonts/myriadpro-regular.ttf);
}
.loader-wrapper {
  height: 100%;
  width: 100%;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.ml-auto {
  margin-left: auto !important;
}
.btn {
  border: none;
  border-radius: 9px;
}
.btn.circle-border-radius {
  border-radius: 20px;
}
.btn-primary {
  color: white;
  background: #83bde5;
}
.btn-primary:hover {
  background: #2f90d3;
}
.btn-primary:active {
  background: #2f90d3;
}
.btn-primary:focus {
  background: #2f90d3;
  border-color: #83bde5;
  box-shadow: 0 0 0 0.25rem #add3ee;
}
.btn-outline-primary {
  color: #83bde5;
}
.btn-outline-primary:hover {
  color: white;
  background: #2f90d3;
}
.btn-outline-primary:active {
  color: white;
  background: #2f90d3;
}
.btn-outline-primary:focus {
  color: white;
  background: #2f90d3;
  border-color: #83bde5;
  box-shadow: 0 0 0 0.25rem #add3ee;
}
.btn-secondary {
  color: #6f7079;
  background: white;
}
.btn-secondary:hover {
  background: #83bde5;
  color: white;
}
.btn-secondary:active {
  background: #2f90d3;
}
.btn-secondary:focus {
  background: #2f90d3;
  border-color: #83bde5;
  box-shadow: 0 0 0 0.25rem #add3ee;
}
.nav .nav-item .nav-link {
  color: white;
}
.card {
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  font-family: MyriadPro;
  max-width: 264px;
  max-height: 276px;
}
.card.category-variant {
  max-width: 264px;
  max-height: 276px;
}
.card:hover {
  border: 2px solid #8c99a3;
}
.card .card-header {
  font-family: inherit;
  font-size: 17px;
  border: none;
  background: none;
}
.card .card-header .in-stock {
  font-family: inherit;
  color: #3A5466;
}
.card .card-header .not-in-stock {
  font-family: inherit;
  color: #8c99a3;
}
.card .card-img,
.card .card-img-top,
.card .card-img-bottom {
  border-image: none;
  border-radius: 20px;
  background: #e9eff5;
  width: 154px;
  height: 154px;
}
.card .card-body {
  font-family: inherit;
  overflow: hidden;
  max-height: 45px;
}
.card .card-body .card-name {
  font-family: inherit;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  max-height: 36.8px;
}
.card .card-footer {
  font-family: inherit;
  border: none;
  background: white;
  padding: 0;
  padding-left: 22px;
  padding-bottom: 5px;
}
.card .card-footer .cost.real-cost {
  color: #3A5466;
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.card .card-footer .cost.discounted-cost {
  color: #83BDE5;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
}
.modal-dialog .modal-content {
  border-radius: 10px;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: 2px solid #e9eff5;
}
.modal-dialog .modal-content .modal-footer {
  background: #e9eff5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
form .form-control {
  border-radius: 10px;
  background: #e9eff5;
}
* {
  font-size: 14.5px;
  font-family: Montserrat;
}
body {
  background: #e9eff5;
}
.header {
  background-color: #83BDE5;
}
.logo-company {
  text-decoration: none;
  color: black;
}
.logo-company > .logo-img {
  max-height: 27px;
  width: 23px;
}
.logo-company > .logo-text {
  font-size: 17.5px;
}
.logo-company:hover {
  color: #000000;
}
.logo-company:active {
  color: #000000;
}
.logo-company:focus {
  color: #000000;
}
.contact-form .phone-number {
  font-size: 30px;
}
.contact-form .phone-number-black {
  color: black;
}
.contact-form .phone-number-white {
  color: white;
}
.contact-form .work-time {
  color: #3A5466;
  font-size: 12px;
}
.contact-form .request-callback-white {
  color: white;
  font-size: 12px;
}
.contact-form .request-callback-black {
  color: black;
  font-size: 12px;
}
.category-page-container .category-name {
  font-weight: bold;
}
.toaster-container {
  position: fixed;
  right: 0px;
  top: 28px;
  z-index: 1;
}
.toaster-container .toast-logo {
  height: 20px;
  width: 20px;
}
.toaster-container .toast-logo > rect {
  width: 100%;
  height: 100%;
}
.toaster-container .toast-logo > rect.error {
  fill: #D60200;
}
.toaster-container .toast-logo > rect.warning {
  fill: #E0E000;
}
.toaster-container .toast-logo > rect.info {
  fill: #83BDE5;
}
.toolbar-container {
  background: #dadce7;
  box-shadow: 0px 2px 10px -4px;
}
.toolbar-container .toolbar-item {
  height: auto;
}
.toolbar-container .toolbar-item > i {
  font-size: 18px;
}
.toolbar-container .hide-toolbar-button {
  position: relative;
  align-self: flex-end;
}
/*# sourceMappingURL=layout.css.map */