.ProductCardArray_Global{
    display: flex;
    justify-content: flex-end;
    padding:40px;
}

.ProductCardArray_Global>*{
    margin-right:15px
}

.ProductCardArray_Col{
    margin-bottom:20px;
    width: 280px;
}
.col.ProductCardArray_Col {
}
.col.ProductCardArray_Col:nth-child(1), .col.ProductCardArray_Col:last-child{
  align-items: center;
}
