.ProductCardArray_Global{
    display: flex;
    justify-content: flex-end;
    padding:40px;
}

.ProductCardArray_Global>*{
    margin-right:15px
}

.ProductCardArray_Col{
    margin-bottom:20px;
}
.col.ProductCardArray_Col {
    padding-left: 26px;
}