<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Secret Project</title>
        
        <link src="~/Resources/Fonts/295183786cd8a138986521d9f388a286.woff"/>
        <link src="~/Resources/Fonts/a4e97f5a2a64f0ab132323fbeb33ae29.eot"/>
        <link src="~/Resources/Fonts/b7c9e1e479de3b53f1e4e30ebac2403a.woff"/>
        <link src="~/Resources/Fonts/c94f7671dcc99dce43e22a89f486f7c2.ttf"/>
        <link src="~/Resources/Fonts/ced611daf7709cc778da928fec876475.eot"/>
        <link src="~/Resources/Fonts/d41f55a78e6f49a5512878df1737e58a.ttf"/>
        
        <script src="~/Scripts/React/dist/babel-polyfill.bundle.js"></script>
        <script src="https://unpkg.com/react@16.12.0/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="~/Scripts/React/dist/redux-vendor.bundle.js"></script>
        <script src="~/Scripts/React/dist/react-redux-vendor.bundle.js"></script>

    </head>
    <body>
        @RenderBody()
    </body>
</html>