<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Secret Project</title>
    
    <script src="~/Scripts/React/dist/react-vendors.bundle.js"></script>
    <script src="~/Scripts/React/dist/secrert-project.bundle.js"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>