<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Secret Project</title>
    
    @*bootstrap@4.6*@
    <link href="~/Styles/Libs/Bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Styles/Libs/Bootstrap-4/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="~/Styles/Libs/Bootstrap-4/css/bootstrap-reboot.min.css" rel="stylesheet">
    
    <link src="~/Styles/style.css" rel="stylesheet"/>

    <script src="~/Scripts/React/dist/react-vendors.bundle.js"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>