@import url(variables.less);

* {
    font-size: 12.5px;
    font-family: Montserrat;
}

@main-body-background: #e9eff5;
body {
    background: @main-body-background;
}

@header-logo: white;
@header-background: @blue-sky;
@header-contrast-color: @oceanic-dark;
.header {
    background-color: @header-background;

    .logo-company{
        font-size: 40px;
        text-decoration: none;
        color: @header-logo;
    }
}

@contact-form-white-color: white;
@contact-form-black-color: black;

.contact-form {
    & .phone-number {
        font-size: 30px;
    }

    & .phone-number-black {
        color: @contact-form-black-color;
    }

    & .phone-number-white {
        color: @contact-form-white-color;
    }

    & .work-time {
        color: @oceanic-dark;
        font-size: 12px;
    }

    & .request-callback-white {
        color: @contact-form-white-color;
        font-size: 12px;
    }

    & .request-callback-black {
        color: @contact-form-black-color;
        font-size: 12px;
    }
}

.category-page-container {
    .category-name {
        font-weight: bold;
    }
}