@header-color: #83bde5;

* {
    font-family: Montserrat;
}
.header {
    background-color: @header-color;
}

.contact-form-container {
    & .phone-number {
        font-size: 30px;
    }

    & .phone-number-black {
        color: black;
    }

    & .phone-number-white {
        color: white;
    }

    & .work-time {
        color: #588fb6;
        font-size: 12px;
        font-family: Montserrat;
    }

    & .requset-callback {
        color: white;
        font-size: 2.67pt;
    }
}