@import url(variables.less);

.loader-wrapper {
    height: 100%;
    width: 100%;
}

.hierarchy {
    position: relative;

    .after-hierarchy-button {
        display: none;
        position: absolute;
        background: white;
        width: 100%;
        left: 0;
        height: 0.5rem;
        bottom: -0.5rem;
        &.show {
            display: block;
        }
    }

    .hierarchy-item {
        &.location {
            &-bottom {
                border-end-end-radius: 0;
                border-end-start-radius: 0;
            }
        }

        &:extend(.btn);
    }

    .hierarchy-menu {
        display: none;
        z-index: 100;
        position: absolute;
        box-shadow: 0px 6px 5px -4px black;
        background: white;
        border-radius: @default-border-radius;
        min-width: 307px;

        &.root-menu {
            border-start-start-radius: 0;

            &.location {

                &-bottom {
                    margin-top: 0.5rem !important;
                    top: 100% !important;
                }
    
                &-left {
                    top: 0% !important;
                    left: 100% !important;
                }
    
                &-top {
                    margin-top: -0.5rem !important;
                    top: -100% !important;
                }
            }
        }

        &.location {

            &-bottom {
                margin-top: 0.5rem;
                top: 105%;
            }

            &-left {
                top: 5%;
                left: 105%;
            }

            &-top {
                margin-top: -0.5rem;
                top: -105%;
            }
        }

        &.show {
            display: block;
        }

        .hierarchy-item {
            &>.btn {
                border-radius: 0;
                width: 100%;
            }
        }
    }
}