.forColumnCase{
display:flex;
flex-direction: column;
color: black;

}
.forInlineCase{
display:flex;
flex-direction: row;
color: #555555;
text-transform: none;
text-decoration: none;
}

.blockStyle{
    width: 90%;
    margin-left: auto;
    margin-right: 0;
    
}

.stylishAAA{
color: #555555;
margin-right:15px;
font-size: 14px;
}
.stylishAAA:hover{
    color:white;
    text-decoration: none;
}