.forColumnCase{
display:flex;
flex-direction: column;
color: black;
}
.forInlineCase{
display:flex;
flex-direction: row;
color: #555555;
text-transform: none; 
text-decoration: none;
}

.blockStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Header_NavLink{
}
@media (max-width: 768px){
   .blockStyle{
    justify-content: center;
   }
    }
    

.forColumnCase .Header_NavLink{
    color: black;
    margin-right:15px;
    font-size: 14px;
}
.forColumnCase .Header_NavLink:hover{
    color:#83bde5;
    text-decoration: none;
}
.blockStyle .Header_NavLink{
    color: #44799f;
    margin-right:15px;
    font-size: 14px;
}

.blockStyle .Header_NavLink:hover{
    color:white;
    text-decoration: none;
}