.CartElement_Global{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding:20px;
    border-radius: 20px;
    width:100%;
    justify-content: space-between;
    margin-right: 30px;
}
.Cart_Element_CenterBlock{
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    display: flex;
    padding-right: 4%;
}
.Cart_Element_InsideCenterBlock{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Cart_Element_InsideCenterInlineBlock{
    flex-direction: column;
    align-items: flex-start;
    display: flex;

}
.Cart_Element_ImageStyle{
    width:9rem;
}
.Cart_Element_H1Style{
    margin: 0;
}
.Cart_Element_ButtonStyle{
    font-size: 23px;
    padding: 0 7px;
    height: fit-content;
}

button.Cart_Element_ClickerBlockButtonStyle.btn.btn-primary{
    background-color: #e9eff5;
    border: 0;
    font-size: 25px;
}

.Cart_Element_ClickerBlockSpanStyle{
    font-size:30px;
}
.Cart_Element_ClickerBlockStyle{
    background-color:#e9eff5;
    border-radius: 10px;
    display: flex; 
    margin-left: 10px;
}
.Cart_Element_IdSpanStyle{
    color:gray;
}