.columnStyleForLinkList{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    
}
.styleForLinkListElement{
    color:black;
    font-size:0.8rem;
    text-decoration: none;
    margin: 4px;
}
.styleForLinkListElement:hover{
    columns: #555555;;
    text-decoration: none;
}
h2{
    overflow: hidden;
}