.card-title{
    font-weight: bold;
    margin: 0;
}
.badge-primary{
    width: fit-content;
    top: 15px;
    position: relative;
    left: 15px;
}
.card{
    border-radius: 1rem;
}
.card p{
    white-space: wrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.card:hover{
    border: 4px solid gray;
}
.ProductCard_BottomPart{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.ProductCard_InlineStyle{
    display:flex;
    flex-direction: row;
    width:100%
}

.ProductCard_BlockStyle{
    display:flex;
    flex-direction: column;
    width:16rem;
}

.ProductCard_ImageInlineStyle{
    width:8rem;
}
.ProductCard_ImageBlockStyle{
    width:100%;
}
span.badge.badge-pill.badge-primary{
    display: inline-table;
}