.card-title{
    font-weight: bold;
    margin: 0;
}
.badge-primary{
    width: fit-content;
    top: 15px;
    position: relative;
    left: 15px;
}
.card{
    border-radius: 1rem;
}
.card p{
    white-space: wrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.card:hover{
    box-shadow: 0px 8px 11px 0px rgba(50, 50, 50, 0.25);
}
.ProductCard_BottomPart{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.ProductCard_InlineStyle{
    display:flex;
    flex-direction: row;
    width:100%
}

.ProductCard_BlockStyle{
    display:flex;
    flex-direction: column;
    width:16rem;
}
.ProductCard_ButtonStyle{}
button.ProductCard_ButtonStyle.btn.btn-primary {
    /* border-radius: 20px; */
    background-color: #83bde5;
    color: white;
    border: 0;
    border-radius: 20px;
    margin: 10px 0;
}
.card-img-top{
    padding: 0 55px;
}
.card-body{
    padding: 0 13px;
}
.card p{
    height:45px
}
.ProductCard_ImageInlineStyle{
    width:8rem;
}
.ProductCard_ImageBlockStyle{
    width:100%;
}
span.badge.badge-pill.badge-primary{
    display: inline-table;
}
button.btn.btn-primary:active{
  border:0;
  background-color: white;
}