<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SecretDbCon"
         connectionString="data source=DESKTOP-P7SS3RO;initial catalog=SecretDb;Integrated security = True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>